spring:
  application:
    name: persimmon
  profiles:
    active: local
server:
  port: 9080
mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deletedAt
      logic-delete-value: now()
      logic-not-delete-value: null
